{% extends 'base.html' %}

{% block content %}
  {% load crispy_forms_tags %}
  <div class="container py-5">
    <div class="row">
      <div class="col-md-2 col-lg-2 col-sm-2"></div>
      <div class="col-md-4 col-lg-4 col-sm-4">
        <h3>Create Project</h3>
        <form method="post">
          {% csrf_token %}
          {{ form|crispy }}
          <button class="btn btn-primary">Submit</button>
        </form>
      </div>
      <div class="col-md-2 col-lg-2 col-sm-2"></div>
    </div>
  </div>
{% endblock %}
